{% extends "base.html" %}
{% block content %}
{% load static %}

   <!-- ADD -->
   <div class="album py-5">
     <div class="container">
          <br/>
          {% if language == 'kz' %}
          <h2>Қосу</h2>
          {% else %}
          <h2>Изменить</h2>
          {% endif %}
          <br/>

          {% load crispy_forms_tags %}

          <form class="searchform" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form|crispy }}
              <br/>
              {% if language == 'kz' %}
              <input type="submit" class="btn btn-lg btn-success", value="Қосу">
              {% else %}
              <input type="submit" class="btn btn-lg btn-success", value="Изменить">
              {% endif %}
          </form>
      </div>
    </div>

{% endblock %}
